In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import keras

Using TensorFlow backend.

In [3]:
!ls

3rd SEM			    fashion-mnist_train.csv
4 sem			    GIT
arduino-arduinoide.desktop  Palak
C			    Pythonproject
C++			    socket programing
CP			    swift-3.0.1-RELEASE-ubuntu16.04
CPROJECTFINAL		    Untitled.ipynb
credentials.csv		    username
Data structure		    Verilog

In [17]:
df = pd.read_csv('fashion-mnist_train.csv')
df.head(10)

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,4,0,0,0,5,4,5,5,3,5,...,7,8,7,4,3,7,5,0,0,0
6,4,0,0,0,0,0,0,0,0,0,...,14,0,0,0,0,0,0,0,0,0
7,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,4,0,0,0,0,0,0,3,2,0,...,1,0,0,0,0,0,0,0,0,0
9,8,0,0,0,0,0,0,0,0,0,...,203,214,166,0,0,0,0,0,0,0

In [7]:
df.describe()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
count,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,...,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.000000,60000.00000
mean,4.500000,0.000900,0.006150,0.035333,0.101933,0.247967,0.411467,0.805767,2.198283,5.682000,...,34.625400,23.300683,16.588267,17.869433,22.814817,17.911483,8.520633,2.753300,0.855517,0.07025
std,2.872305,0.094689,0.271011,1.222324,2.452871,4.306912,5.836188,8.215169,14.093378,23.819481,...,57.545242,48.854427,41.979611,43.966032,51.830477,45.149388,29.614859,17.397652,9.356960,2.12587
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,4.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,58.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,9.000000,16.000000,36.000000,226.000000,164.000000,227.000000,230.000000,224.000000,255.000000,254.000000,...,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,170.00000

In [26]:
target = np.array([df['label']]).T
target.shape

(60000, 1)

In [45]:
features = np.array(df.iloc[:,1:])
features.shape

(60000, 784)

In [46]:
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split

In [47]:
y = to_categorical(target) 
y.shape

(60000, 10)

In [50]:
X_train,X_val,y_train,y_val = train_test_split(features,y,test_size=0.2,random_state=0)
X_train,X_test,y_train,y_test = train_test_split(X_train,y_train,test_size=0.21,random_state=0)

In [54]:
img_row ,img_col = 28,28

X_train = X_train.reshape(X_train.shape[0],img_row,img_col,1)
X_test = X_test.reshape(X_test.shape[0],img_row,img_col,1)
X_val = X_val.reshape(X_val.shape[0],img_row,img_col,1)

X_train = X_train.astype('float32')
X_val = X_val.astype('float32')
X_test = X_test.astype('float32')

X_train/=255
X_test/=255
X_val/=255

In [56]:
X_train.shape

(37920, 28, 28, 1)

In [59]:
from keras import layers
from keras import models

In [61]:
model = models.Sequential()
model.add(layers.Conv2D(28, (3, 3), activation='relu',
                        input_shape=(28, 28, 1)))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(56, (3, 3), activation='relu'))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(102, (3, 3), activation='relu'))
# model.add(layers.MaxPooling2D((2, 2)))
# model.add(layers.Conv2D(102, (3, 3), activation='relu'))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Flatten())
model.add(layers.Dense(784, activation='relu'))
model.add(layers.Dense(10, activation='softmax'))

In [62]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_5 (Conv2D)            (None, 26, 26, 28)        280
_________________________________________________________________
max_pooling2d_5 (MaxPooling2 (None, 13, 13, 28)        0
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 11, 11, 56)        14168
_________________________________________________________________
max_pooling2d_6 (MaxPooling2 (None, 5, 5, 56)          0
_________________________________________________________________
conv2d_7 (Conv2D)            (None, 3, 3, 102)         51510
_________________________________________________________________
max_pooling2d_7 (MaxPooling2 (None, 1, 1, 102)         0
_________________________________________________________________
flatten_2 (Flatten)          (None, 102)               0
_________________________________________________________________
dense_1 (Dense)              (None, 784)               80752
_________________________________________________________________
dense_2 (Dense)              (None, 10)                7850
=================================================================
Total params: 154,560
Trainable params: 154,560
Non-trainable params: 0
_________________________________________________________________

In [63]:
from keras import optimizers

model.compile(loss='categorical_crossentropy',
              optimizer=optimizers.RMSprop(lr=1e-4),
              metrics=['acc'])

In [69]:
model.fit(X_train,y_train,epochs=3,batch_size=32,validation_data=(X_val,y_val))

Train on 37920 samples, validate on 12000 samples
Epoch 1/3
37920/37920 [==============================] - 32s - loss: 0.1536 - acc: 0.9377 - val_loss: 0.1510 - val_acc: 0.9386
Epoch 2/3
37920/37920 [==============================] - 32s - loss: 0.1456 - acc: 0.9405 - val_loss: 0.1430 - val_acc: 0.9418
Epoch 3/3
37920/37920 [==============================] - 32s - loss: 0.1397 - acc: 0.9428 - val_loss: 0.1419 - val_acc: 0.9413

In [70]:
model.evaluate(X_test,y_test)

10016/10080 [============================>.] - ETA: 0s

[0.14135560483213455, 0.94089296620989604]